{{ define "main" }}
{{ partial "profile.html" . }}
<div id="list-page">
    {{ range ( where .Site.RegularPages "Type" "posts" ) }}
    {{ $title := .Title }}
    {{ $summary := .Summary }}
    <section class="item">
        <div>
            <h1 class="title"><a href='{{ .RelPermalink }}'>{{ $title }}</a></h1>
            <div class ="date">
                <time datetime="{{ .PublishDate }}">{{ i18n "publishDate" . }}</time>  
            </div>
        </div>

        {{ if ne .Site.Params.hiddenPostSummaryInHomePage true }}
        <summary class="summary">{{ $summary | plainify | htmlUnescape }}</summary>
        {{ end }}

    </section>
    {{ end }}
</div>
{{ end }}
